.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  border: solid 1px black;
  display: flex;
  align-items: center;
}

.link {
  margin-left: 24px;
}

.container {
  margin-top: 64px;
}